
@import url('https://fonts.cdnfonts.com/css/comic-sans');

:root {
    --frame_width: 50px;
}

embed{
    display: none;
}

*{
    margin: 0px;
    padding: 0px;
    cursor: url("../cursors/spiderman.png") 0 33, pointer;
    font-family: 'Comic Sans', cursive;
    text-align: center;
}

html{
    background-image: url("../images/starfield.gif");
    width: 100%;
    height: 100%;
    overflow: hidden
}

/*header section*/

.header-box{
    position: relative;
    width: 100%;
    height: calc(40vh - 1.5 * var(--frame_width));
    background-image: url("../images/blue_stars.png");
    background-repeat: repeat;
}

/*content section*/

.contents{
    position: relative;
    width: 100%;
    height: calc(60vh - 1.5 * var(--frame_width));
    margin-left:auto;
    margin-right:auto;
    color: yellow;
}

.contents > table{
    width: 100%;
    height: 100%;
}

.contents > table > tbody > tr > td{
    width: 20%;
}

.menu-items{
    width: 99%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-item{
    width: 10%;
    height: 100%;
    display:inline-block;
    background-color: crimson;
    color: yellow;
    font-size: 25px;
}

.header{
    font-weight: 1000;
    font-size: 60px;
}

.rainbow-text{
    color: transparent;
    background: linear-gradient(
        90deg,
        red,
        orange,
        yellow,
        green,
        blue,
        darkviolet,
        red,
        red,
        orange,
        yellow,
        green,
        blue,
        darkviolet,
        red
    );
    -webkit-background-clip: text;
            background-clip: text;
    animation: rainbow 50s linear infinite;
}

.nyan-cat{
    position: relative;
    right: 0;
    height: 8vw;
    width: 15vw;
    margin-left: auto;
    background-image: url("../imageS/nyan-cat.gif");
    background-repeat:no-repeat;
    background-size:contain;
}

.nyan-cat::before {
    content: '';
    position: absolute;
    background-image: url("../imageS/rainbow.gif");
    background-size:contain;
    width: 100vw;
    height: 100%;
    transform:translate(-100vw, 0);
    display:inline-block;
}

@keyframes rainbow{
    100%{
        background-position: 300em, 0em;
    }
}

a{
    color: yellow;
    text-decoration: none;
}

.button{
    background-image: url("../images/wall.png");
    background-size: 20px 20px;
    color: black;
    background-repeat: repeat;
    /*height: 30px;*/
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;

    border: 5px outset;
    outline: none;
    /*font-size: larger;*/
}

.skeleton{
    width: 100%;
    height: 300px;
    background-image: url("../images/skeleton.gif");
    background-size: 250px 500px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/*frames*/

.flames{
    background-image: url("../images/flames.gif");
    background-position: 100% 100%;
    background-repeat: repeat-x;
}

.wall{
    background-image: url("../images/wall.png");
    background-position: 100% 100%;
    background-repeat: repeat-x;
    background-size: auto var(--frame_width)
}

.bricks{
    background-image: url("../images/bricks.png");
    background-position: 100% 100%;
    background-repeat: repeat-x;
    background-size: auto var(--frame_width)
}

.violet{
    background-image: url("../images/violet.png");
    background-position: 100% 100%;
    background-repeat: repeat-x;
    background-size: auto var(--frame_width)
}

.red_bricks{
    background-image: url("../images/red_bricks.png");
    background-position: 100% 100%;
    background-repeat: repeat;
    background-size: auto var(--frame_width)
}

.greek{
    background-image: url("../images/greek.png");
    background-position: 100% 100%;
    background-repeat: repeat;
    background-size: auto var(--frame_width)
}

/*frame orientations*/

.top{
    width: 100%;
    height: var(--frame_width);
    transform: scale(-1, -1);
    top: 0;
    position: absolute;
}

.bottom{
    width: 100%;
    height: var(--frame_width);
    transform: scale(1, 1);
    bottom: 0;
    position: absolute;
}

.right{
    height: 100%;
    width: var(--frame_width);
    transform: scale(1, 1);
    right: 0;
    position: absolute;
}

.left{
    height: 100%;
    width: var(--frame_width);
    transform: scale(1, 1);
    left: 0;
    position: absolute;
}

.seperator{
    width: 100%;
    height: var(--frame_width);
}

.trumpet{
    height: 100%;
}