
@import url('https://fonts.cdnfonts.com/css/comic-sans');

body{
    margin: 0px;
    padding: 0px;
}

*{
    cursor: url("../cursors/spiderman.png") 0 33, pointer;
}

html{
    background-image: url("../images/starfield.gif");
    text-align: center;
    width: 100%;
    height: 100%;
}

.menu-items{
    width: 99%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-item{
    width: 10%;
    height: 100%;
    display:inline-block;
    background-color: crimson;
    color: yellow;
    font-size: 25px;
}

.header-box{
    width: 100%;
    background-image: url("../images/blue_stars.png");
    background-repeat: repeat;
    margin: 0px;
    font-family: 'Comic Sans', cursive;
}

.header{
    font-weight: 1000;
    font-size: 60px;
}

.rainbow-text{
    color: transparent;
    background: linear-gradient(
        90deg,
        red,
        orange,
        yellow,
        green,
        blue,
        darkviolet,
        red,
        red,
        orange,
        yellow,
        green,
        blue,
        darkviolet,
        red
    );
    -webkit-background-clip: text;
            background-clip: text;
    animation: rainbow 50s linear infinite;
}

.nyan-cat{
    position: relative;
    right: 0;
    height: 8vw;
    width: 15vw;
    margin-left: auto;
    background-image: url("../imageS/nyan-cat.gif");
    background-repeat:no-repeat;
    background-size:contain;
}

.nyan-cat::before {
    content: '';
    position: absolute;
    background-image: url("../imageS/rainbow.gif");
    background-size:contain;
    width: 100vw;
    height: 100%;
    transform:translate(-100vw, 0);
    display:inline-block;
}

@keyframes rainbow{
    100%{
        background-position: 300em, 0em;
    }
}

a{
    color: yellow;
}

.contents{
    width: 99%;
    margin-left:auto;
    margin-right:auto;
    color: yellow;
}

table.contents > tbody > tr > td{
    width: 20%;
}

.flame{
    background-image: url("../images/flames.gif");
    background-position: 100% 100%;
    background-repeat: repeat-x;
}

.top{
    width: 100%;
    height: 50px;
    transform: scale(-1, -1);
}

.bottom{
    width: 100%;
    height: 50px;
    transform: scale(1, 1);
}

.right{
    height: 100%;
    width: 50px;
    transform: scale(1, 1);
}

.left{
    height: 100%;
    width: 50px;
    transform: scale(1, 1);
}